<div class = "recipe-container">
  <div class = "recipe-header">
    <h3>
      <%= recipe.name %>
    </h3>
        <%= link_to "Remove", recipe_path(recipe), class: "delete",
                data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}
                %>
  </div>
  <p class = "recipe-description">
      <%= recipe.description %>
  </p>
</div>