/*
 *= require_tree .
 *= require_self
 */

body {
  color: #131212;
  background: #f9f9f7;
}

.notice-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.button {
  border: none;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 4px;
  color: #fff;
  background: rgb(62, 111, 209);
  cursor: pointer;
}

a {
  color: #69f;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.delete {
  color: #f66;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.flex-items {
  display: flex;
  flex-direction: column;
}

.table {
  width: 100%;
  border-collapse: collapse;
  color: #000;
  background-color: #ffffffd7;
  margin-top: 1rem;
}

.general-list-header h3 {
  color: rgb(12, 51, 136);
}

article {
  color: #000;
  background-color: #c4bebed7;
}

.table th,
.table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #6699ffab;
}

.table th {
  background-color: #dcdee2ab;
}

.general_shopping_list {
  background: #fff;
  margin: 3rem auto;
  max-width: 50rem;
  padding: 1rem;
  gap: 2rem;
}

.general_shopping_list h1 {
  align-self: center;
}

.general_shopping_list div {
  display: flex;
  justify-content: space-between;
}
