.public {
  position: relative;
  width: 60px;
  height: 34px;
  border-radius: 17px;
  background-color: #4cd964;
}

.public_switch {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #fff;
}

.not_public {
  position: relative;
  width: 60px;
  height: 34px;
  border-radius: 17px;
  background-color: #d8d8d8;
}

.not_public_switch {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #fff;
}

.recipes_index {
  align-items: center;
}

.public__recipe-container {
  background: #fff;
  margin-top: 2rem;
  padding: 1.5rem;
  border: 1px solid rgb(228, 221, 221);
  border-radius: 0.5rem;
}

.public__recipe-container h1 {
  margin-bottom: 1.2rem;
  color: rgb(62, 111, 209);
  text-align: center;
}

.recipe__description-container {
  width: 60%;
  background: #fff;
  border: 1px solid rgb(207, 205, 205);
  border-radius: 0.5rem;
  margin-top: 2rem;
  gap: 2rem;
  padding: 1rem;
}

.recipe__description-container h1 {
  color: rgb(62, 111, 209);
  text-align: center;
  margin-bottom: 1rem;
}

.recipe_card {
  display: grid;
  grid-template-columns: 1fr 3fr;
  border: 1px solid #7e7676;
  padding: 1rem;
  margin-top: 0.5rem;
  background: rgb(245, 241, 241);
  align-items: center;
  border-radius: 0.5rem;
  gap: 2rem;
}

.user__name {
  color: #038347;
  font-size: 1.2rem;
  margin-top: 0.25rem;
}

.recipes_show {
  margin: 3rem auto;
  padding: 1rem;
  width: 100%;
  max-width: 45rem;
  gap: 2rem;
  align-self: center;
  color: #000;
  background-color: #ffffffd7;
  border-radius: 0.5rem;
}

.recipes_show h2 {
  align-self: center;
}

.recipe_information {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.recipe_information p {
  flex: 1 1 50%;
}

.public_logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.recipe_buttons {
  display: flex;
  justify-content: space-between;
}

.recipe_new {
  align-items: center;
  height: 100vh;
  gap: 1rem;
}

.recipe__container {
  background: #fff;
  border: 0.2px solid rgb(182, 178, 194);
  border-radius: 0.5rem;
  width: 40%;
  padding: 1rem 2rem;
  
}
.recipe_new h2 {
  color: rgb(4, 73, 138);
  font-size: 2rem;
  font-weight: 600;
}

.recipe_new form {
  margin-top: 1rem;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.recipe_new .field {
  width: 100%;
}

.recipe_new .field > * {
  width: 100%;
  height: 2.5rem;
  padding: 0.5rem;
  outline: none;
  border: 0.2px solid rgb(214, 207, 207);
  border-radius: 0.25rem;
}

.recipe_new .field_select > * {
  height: 2.5rem;
}

.publicity__check {
  align-self: flex-start;
  margin-top: 0.25rem;
}

.new__recipe-btn {
  margin-top: 0.5rem;
}